@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=IBM+Plex+Sans&family=Open+Sans&display=swap');
* {
    font-family: "DM Sans";
}

:root{
    --bg-colour: #f9f9f9;
    --c1: #2d728f;
    --c2: #3b8ea5;
    --c3: #92CEDF;
    --c4: #C8EBF5;
}

body {
    background-color: var(--bg-colour);
}

.intro, .content {
    width: 95%;
    margin: auto;
}

span {
    color: var(--c1);
}

.intro a {
    text-decoration: none;
    color: var(--c1);
}

.intro a:hover{
    color: var(--c2);
}

.date {
    font-style: italic;
}